@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

@theme {
  --color-background: #1A1A2E;
  --color-primary: #A35CF0;
  --color-accent: #FCFF6F;
  --color-text: #FFFFFF;
  --color-text-low-contrast: #9B9B9B;
  --color-container: #29293E;
  --color-text-ultra-low-contrast: #686868;
  --font-sora: "Sora";
  --font-space-grotesk: "Space Grotesk";

  --animate-fade-in: fade-in 1s ease-out forwards;
  --animate-border-spin: border-spin 4s linear infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes border-spin {
  100% {
    transform: rotate(-360deg)
  } 
}

html {
  background-color: var(--color-background);
}

@layer utilities {
  .glassmorph {
    @apply bg-gray-600/40 bg-clip-padding backdrop-filter backdrop-blur-2xl border border-gray-500
  }

  .hover-zoom {
    @apply transform hover:text-accent transition duration-500 hover:scale-110
  }

  .card-wrapper {
    @apply relative overflow-hidden bg-gray-600/40 bg-clip-padding backdrop-filter backdrop-blur-2xl rounded-2xl border border-gray-500
  }

  .card-wrapper::before {
    background: conic-gradient(
      #A35CF0 0deg,
      #FCFF6F 180deg,
      transparent 80deg
    );
    @apply absolute h-[400%] w-[400%] left-[-150%] top-[-150%] content-[''] animate-border-spin
  }

  .card-content {
    @apply relative w-[calc(100%-2.5px)] h-[calc(100%-2.5px)] bg-background rounded-2xl
  }

  .cosmic-glow {
    @apply shadow-[0px_0px_40px_0px_rgba(252,_255,_255,_0.1)]
  }

}
