@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

@theme {
  --color-background: #1A1A2E;
  --color-primary: #A35CF0;
  --color-accent: #FCFF6F;
  --color-text: #FFFFFF;
  --color-text-low-contrast: #9B9B9B;
  --color-container: #29293E;
  --color-text-ultra-low-contrast: #686868;
  --font-sora: "Sora";
  --font-space-grotesk: "Space Grotesk";

  --animate-fade-in: fade-in 1s ease-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
}

html {
  background-color: var(--color-background);
}

@layer utilities {
  .glassmorph {
    @apply bg-gray-600/40 bg-clip-padding backdrop-filter backdrop-blur-2xl border border-gray-500
  }

  .hover-zoom {
    @apply transform hover:text-accent transition duration-500 hover:scale-110
  }
}
